.App {
  text-align: center;
}
.fm{
  padding: 10px;
  display:inline-block;
  }
  .frm{
    width:600px;
    height: 700px;
    padding:10px;
    background-color:lavender;
    
  }
  .abc{
    display:inline-block;
    width: 200px;
    padding:10px;
  }
 